@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border,
  .border-r,
  .border-l,
  .border-t,
  .border-b,
  .border-x,
  .border-y {
    @apply dark:border-gray-500;
  }
}

:root {
  --text-gradient: linear-gradient(180deg, #555, #000);
}

.dark {
  --text-gradient: linear-gradient(180deg, #ccc, #ffffff);
}

.hero-grid {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
}

.gradient-text {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
